<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{client}}</title>
</head>
<body>
<ul>
    <li>{{client.name}}</li>
    <li>{{client.surname}}</li>
    <li>{{client.current_car}}</li>
    <li>{{client.contact_number}}</li>
</ul>
<!--TODO: Also render data about done services below and add CSS-->
</body>
</html>